/* 版心置中 */
.container {
  max-width: 1296px;
  margin: 0 auto;
}

/* 通用字型 */
body {
  font-family: "Noto Sans", sans-serif;
}


/* header區塊 */
.header {
  padding: 28px 0px;
  display: flex;
  align-items: center;
}

.logo a {
  display: block;
  width: 90px;
  height: 40px;
  background-image: url('./img/logo.png');
}

.menu {
  display: flex;
  margin-left: 318px;
}

.menu li {
  padding: 4px 8px;
  line-height: 24px;
  margin-right: 40px;
}

.menu li:hover {
  border: 1px gray solid;
}

.menuActive {
  font-weight: 600;
}



/* banner區塊 */

.banner {
  background-color: #FAFAFA;
  padding: 80px 0px;
  margin-bottom: 120px;
}

.slogan {
  width: 679px;
  height: 192px;
  padding: 59px 71px;
  margin: 0 auto;
  position: relative;
}

.text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  position: relative;
}

.text>p {
  margin-bottom: 16px;

}

.upquote {
  position: absolute;
  top: 0;
  left: 0;
}

.downquote {
  position: absolute;
  right: 0;
  bottom: 0;
}

.pointline1 {
  position: absolute;
  right: -14px;
  bottom: 39px;
}

.pointline2 {
  position: absolute;
  right: 27px;
  bottom: -3px;
}

/* banner-feature */

.feature {
  width: 636px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box p {
  width: 298px;
  text-align: center;
  line-height: 24px;
}

.box span {
  display: block;
  width: 24px;
  border: 2px solid #C1C1C1;
  margin: 4px 137px 8px 137px;
}



/* works區塊 */

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 636px;
  margin-bottom: 80px;
}

.cardText {
  margin-top: 16px;
  padding: 0 16px;
}

h3 {
  /* 標題共用樣式 */
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  color: #3B3B3B;
}

p {
  /* 文字共同樣式 */
  line-height: 24px;
}

.cardText>p {
  margin-top: 8px;
  color: #919191;
}

.tags {
  margin-top: 24px;
  display: flex;
}

.tags li a {
  display: block;
  padding: 4px 12px;
  color: #3B3B3B;
  line-height: 24px;
  background-color: #F1F1F1;
  border-radius: 16px;
  margin-left: 16px;
}


/* Pagination區塊 */
.paginationbar {
  width: 152px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.pagination:hover {
  background-color: #cecbcb;
}

.paginationbar .active {
  background-color: #1E1E1E;
  color: #FFFFFF;
}







/* footer區塊 */
/* 1.背景圖片 */
.footerbg {
  background-color: #FAFAFA;
  position: relative;
}

.footerbg>img {
  position: absolute;
}

.footerbg img:nth-child(2) {
  position: absolute;
  bottom: 0px;
}

.footerbg img:nth-child(3) {
  position: absolute;
  bottom: 320px;
  left: 666px;
}

.footerbg img:nth-child(4) {
  position: absolute;
  bottom: 68px;
  right: 5px;
}

.footerbg img:nth-child(5) {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* 2.背景內容 */


.footer {
  display: flex;
  justify-content: space-between;
  height: 424px;
  align-items: center;
  margin-top: 100px;
}

.contact p {
  margin-top: 24px;
  font-size: 20px;
  line-height: 30px;
}

.email {
  color: #919191;
  margin-top: 24px;
}

.socialmedia {
  height: 264px;
}

.medialink {
  display: flex;
  width: 306px;
  height: 72px;
  align-items: center;
  padding: 8px 24px;
  border: #C1C1C1 1px solid;
  border-radius: 8px;
  margin-bottom: 24px;
}

.socialmedia .bbg {
  background-color: #1E1E1E;
}

.socialmedia .bbg>p {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}



.medialink p {
  font-size: 20px;
  line-height: 30px;
  margin-left: 8px;
  color: #3B3B3B;
}